.topbar {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin: 10px 20px;

  &__search {
    display: flex;
    border-radius: 3px;
  }
  &__search-input {
    flex: 1;
    margin-left: 2px;
  }
  &__search-btn {
    padding: 1px;
  }
}
